* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

header {
  position: relative;
  height: 100vh;
  width: 100%;
  background: #000000 url(../img/background_pinks_blues.png) center center /
    cover no-repeat;
  overflow: hidden;
}

.background_animation {
  z-index: -10;
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

nav {
  position: absolute;
  top: 20px;
  right: 50px;
}

nav ul {
  display: flex;
  margin-right: 85px;
}
nav ul li {
  text-decoration: none;
  list-style: none;
  margin-top: 25px;
  padding: 30px;
}
nav ul li a {
  text-decoration: none;
  color: #f2f2f2;
  font-size: 22px;
  transition: all 0.2s ease-in-out;
}

nav ul li a:hover {
  font-size: 25px;
}

.header_glass {
  display: inline-block;
  transform: scale(0);
  background: rgba(255, 255, 255, 0.2);
  padding: 3rem;
  border-radius: 3rem;
  position: relative;
  top: 25%;
  left: 25%;
  z-index: 1;
  backdrop-filter: blur(40px);
  border: solid 2px transparent;
  background-clip: padding-box;
}

.header_glass h1 {
  color: white;
  font-weight: 700;
  font-size: 4rem;
  line-height: 1.5;
}

.header_glass h1:nth-child(2) {
  text-indent: 50px;
}

.header_animation {
  transform: translateX(-300%);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.social_icons {
  position: absolute;
  bottom: 5%;
  left: -10px;
}

.social_icon-container {
  position: relative;
  width: 60px;
  height: 50px;
  background-color: #180024;
  display: flex;
  align-items: center;
  transition: width 0.2s ease-in-out;
}

.social_icon-container a {
  position: absolute;
  right: 7px;
  color: #0074ff;
  font-size: 2.5rem;
}

.social_icon-container:hover {
  width: 70px;
  cursor: pointer;
}

/*******************Modal windows************************/

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(4px);
  overflow: auto;
}

.close {
  color: #aaa;
  float: right;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/***********************Projects************************************/

.modal_content-projects {
  display: block;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  margin: 5% auto;
  padding: 20px;
  border-radius: 10px 0px 0px 10px;
  width: 100%;
  height: 90%;
  overflow: hidden;
}

.project_container {
  position: relative;
  width: 500px;
  height: 300px;
  perspective: 1000px;
}

.project_content {
  width: 100%;
  height: 100%;
  position: absolute;
  transform: translateZ(-250deg);
  transform-style: preserve-3d;
  transition: transform 1s;
}

.project_window > img {
  box-shadow: 1px 1px 5px 3px rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;
}

.project_window {
  position: absolute;
  width: 500px;
  height: 300px;
  left: 10px;
  top: 10px;
}

.project_window:nth-child(1) {
  transform: rotateY(0deg) translateZ(250px);
}
.project_window:nth-child(2) {
  transform: rotateY(90deg) translateZ(250px);
}
.project_window:nth-child(3) {
  transform: rotateY(180deg) translateZ(250px);
}
.project_window:nth-child(4) {
  transform: rotateY(270deg) translateZ(250px);
}

.btn_container {
  position: absolute;
  bottom: 100px;
  left: calc((100% - 200px) / 2);
  width: 200px;
  display: flex;
  justify-content: center;
}

.slider_btn {
  border: none;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.3);
  margin-top: 40px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background: linear-gradient(
    45deg,
    rgba(122, 3, 133, 0.734) 33%,
    rgb(27, 97, 182) 100%
  );
  color: white;
  font-size: 2rem;
  font-weight: 700;
  cursor: pointer;
}

.slider_btn:hover {
  background: linear-gradient(
    45deg,
    rgba(241, 93, 255, 0.734) 33%,
    rgb(10, 121, 255) 100%
  );
}

.slider_btn-left {
  margin-right: 20px;
}
.slider_btn-right {
  margin-left: 20px;
}
/************************About Section*******************************/

.modal-content-about {
  transform: scale(0);
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 10px;
  width: 80%;
}

.about-content {
  display: flex;
  align-content: space-between;
}

.about-text {
  display: block;
  margin-right: 1rem;
  margin-left: 1rem;
  width: 75%;
}

.about-text h1 {
  text-align: center;
  margin-bottom: 1rem;
}

.about-content img {
  width: 25%;
  height: 100%;
}

/*****************Resume************************/
.modal-content-resume {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 10px;
  width: 400px;
  height: 200px;
}

.resume-content {
  text-align: center;
}

.resume-content h1 {
  font-size: 1.4rem;
  font-weight: bold;
  margin-top: 1.8rem;
  margin-bottom: 3rem;
}

.resume-btn {
  padding: 1rem 3rem;
  opacity: 0.8;
  border-radius: 20px;
  color: #ffff;
  text-decoration: none;
  box-shadow: 1px 1px 1px 1px #333;
  background: rgb(24, 0, 36);
  background: -moz-linear-gradient(
    45deg,
    rgba(24, 0, 36, 0.7343312324929971) 33%,
    rgba(0, 116, 255, 1) 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    rgba(24, 0, 36, 0.7343312324929971) 33%,
    rgba(0, 116, 255, 1) 100%
  );
  background: linear-gradient(
    45deg,
    rgba(24, 0, 36, 0.7343312324929971) 33%,
    rgba(0, 116, 255, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#180024",endColorstr="#0074ff",GradientType=1);
}

.resume-btn:hover {
  opacity: 0.9;
}

/***********************Contact***************************/

.modal-content-contact {
  background-color: #fefefe;
  margin: 8% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 10px;
  width: 800px;
}

.contact-content h1 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  text-align: center;
}
.contact-info {
  display: flex;
  width: 100%;
  margin-left: 50px;
}

form {
  width: 40%;
  display: flex;
  flex-direction: column;
}

form label {
  margin-bottom: 0.25rem;
}

form input {
  margin-bottom: 0.25rem;
}

form textarea {
  resize: none;
}

form button {
  border: none;
  margin: 1rem auto;
  width: 100px;
  height: 40px;
  padding: 0.4rem;
  color: #fff;
  border-radius: 10px;
  box-shadow: #000 0px 1px 3px 1px;
  opacity: 0.8;
  background: rgb(24, 0, 36);
  background: -moz-linear-gradient(
    45deg,
    rgba(24, 0, 36, 0.7343312324929971) 33%,
    rgba(0, 116, 255, 1) 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    rgba(24, 0, 36, 0.7343312324929971) 33%,
    rgba(0, 116, 255, 1) 100%
  );
  background: linear-gradient(
    45deg,
    rgba(24, 0, 36, 0.7343312324929971) 33%,
    rgba(0, 116, 255, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#180024",endColorstr="#0074ff",GradientType=1);
}

form button:hover {
  opacity: 0.9;
  cursor: pointer;
}

.border-right {
  border-right: 2px solid black;
  height: 16rem;
  margin-left: 2rem;
}

.contact-icons {
  display: flex;
  flex-direction: column;

  margin-top: 3rem;
  margin-left: 2rem;
}

.phone {
  display: flex;
  align-items: center;
}

.phone i {
  margin-right: 1.2rem;
}

.email {
  display: flex;
  align-items: center;
}

.email i {
  margin-right: 1rem;
}

.email a {
  color: #000;
}

.fas {
  background: -moz-linear-gradient(
    45deg,
    rgba(24, 0, 36, 0.7343312324929971) 33%,
    rgba(0, 116, 255, 1) 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    rgba(24, 0, 36, 0.7343312324929971) 33%,
    rgba(0, 116, 255, 1) 100%
  );
  background: linear-gradient(
    45deg,
    rgba(24, 0, 36, 0.7343312324929971) 33%,
    rgba(0, 116, 255, 1) 100%
  );

  margin-bottom: 1.2rem;
}
