* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

header {
  height: 100vh;
}

nav {
  position: absolute;
  right: 0;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  overflow: hidden;
  height: 100%;
  width: 25%;
  transform: translateX(100%);
}

nav ul {
  display: flex;
  flex-direction: column;
  padding-top: 10rem;
  padding-left: 35%;
  padding-right: 35%;
}
nav ul li {
  text-decoration: none;
  list-style: none;
  padding: 28px 16px;
}
nav ul li a {
  text-decoration: none;
  color: #f2f2f2;
  font-size: 20px;
  transition: all 0.2s ease-in-out;
}

nav ul li a:hover {
  font-size: 22px;
}

video {
  object-fit: cover;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/*******************Modal windows************************/

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(4px);
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/************************About Section*******************************/

.modal-content-about {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 10px;
  width: 80%;
}

.about-content {
  display: flex;
  align-content: space-between;
}

.about-text {
  display: block;
  margin-right: 1rem;
  margin-left: 1rem;
  width: 75%;
}

.about-text h1 {
  text-align: center;
  margin-bottom: 1rem;
}

.about-content img {
  width: 25%;
  height: 100%;
}

/*****************Resume************************/
.modal-content-resume {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 10px;
  width: 25%;
  height: 25%;
}

.resume-content {
  margin: auto;
}

.resume-content h1 {
  font-size: 1.4rem;
  margin-top: 1.8rem;
  margin-bottom: 2rem;
  text-align: center;
}

.resume-btn {
  padding: 1rem;
  background-color: rgb(36, 169, 247);
  border-radius: 10px;
  color: #ffff;
  text-decoration: none;
  background: -webkit-linear-gradient(top, #009afa, #b4d7ed);
  background: -moz-linear-gradient(top, #009afa, #b4d7ed);
  background: -ms-linear-gradient(top, #009afa, #b4d7ed);
  background: -o-linear-gradient(top, #009afa, #b4d7ed);
}

/***********************Contact***************************/

.modal-content-contact {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 10px;
  width: 50%;
}

.contact-content h1 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  text-align: center;
}
.contact-info {
  display: flex;
}

form {
  width: 40%;
  display: flex;
  flex-direction: column;
}

form label {
  margin-bottom: 0.25rem;
}

form input {
  margin-bottom: 0.25rem;
}

form button {
  margin-top: 0.5rem;
  width: 30%;
  text-align: center;
}

.border-right {
  border-right: 2px solid black;
  height: 8rem;
  margin-left: 2rem;
}

.contact-icons {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
}
.fas {
  color: rgb(36, 169, 247);
}
