* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

header {
  position: relative;
  height: 100vh;
  width: 100%;
  background: #000000 url(../img/background_pinks_blues.png) center center /
    cover no-repeat;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, .3);
}

 .fa-bars {
  display: none;
}

.close_nav {
  display: none;
}

nav {
  position: absolute;
  top: 20px;
  right: 50px;
}

.nav .close {
  display: none;
}

nav ul {
  display: flex;
  margin-right: 85px;
}
nav ul li {
  text-decoration: none;
  list-style: none;
  margin-top: 25px;
  padding: 30px;
}
nav ul li a {
  display: inline-block;
  text-decoration: none;
  color: #f2f2f2;
  font-size: 22px;
  transition: all 0.2s ease-in-out;
}

nav ul li a:hover {
  transform: translateY(-5px);
}

.header_glass {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 800px;
  position: absolute;
  top: 50%;
 left: 50%;
 margin-right: -50%;
 transform: translate(-50%, -50%);
 background: rgba(255, 255, 255, 0.09);
  padding: 4rem;
  border-radius: 3rem;
  z-index: 1;
  backdrop-filter: blur(40px);
  border: solid 2px transparent;
  background-clip: padding-box;
  box-shadow: -10px 0px 8px -3px rgba(46, 54, 68, 0.5);
}

.header_glass h1 {
  color: white;
  font-weight: 700;
  font-size: 4rem;
  line-height: 1.5;
}

.header_glass p {
  text-align: center;
  width: 40ch;
  color: white;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.5;
}

.home-btn {
  width: 50%;
  padding: 1.5rem;
  border-radius: 20px;
  border: none;
  background:rgba(54, 15, 58, 0.734);
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  transition: all .3s ease-in-out;
}

.home-btn:hover {
  width: 60%;
  cursor: pointer;
  opacity: .9;
}


.social_icons {
  display: flex;
  position: absolute;
  bottom: 5%;
  right: 5%;
}

.social_icons a {
  opacity: 0.55;
  color: #fff;
  font-size: 2.8rem;
  margin: 0.8rem;
  transition: all 0.2s ease-in-out;
}

.social_icons a:hover {
  transform: translateY(-5px);
}

/*******************Modal windows************************/

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(8px);
  overflow: auto;
}

.close {
  color: #aaa;
  float: right;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/***********************Projects************************************/

.modal_content-projects {
  display: block;

  padding: 20px;
  border-radius: 10px 0px 0px 10px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.project_carousel {
  position: relative;
  top: 20%;
  left: 10%;
  width: 500px;
  height: 300px;
  perspective: 1000px;
}

.project_content {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.project_window > img {
  box-shadow: 1px 1px 5px 3px rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;
}

.project_window {
  position: absolute;
  width: 500px;
  height: 300px;
  opacity: 0.95;
}

.project_window:nth-child(1) {
  transform: rotateY(20deg) translateZ(251px);
}
.project_window:nth-child(2) {
  transform: rotateY(110deg) translateZ(251px);
}
.project_window:nth-child(3) {
  transform: rotateY(200deg) translateZ(251px);
}
.project_window:nth-child(4) {
  transform: rotateY(290deg) translateZ(251px);
}

.project_description {
  height: 500px;
  width: 500px;
  position: absolute;
  right: 10%;
  top: 20%;
  border-radius: 20px;
  color: white;
  transform: translateX(600%);
  animation: fadeIn;
  transition: transform 0.9s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.project_description h1,
p {
  margin: 1rem 1rem 2.5rem 1rem;
  line-height: 1.5;
}

.project_description a {
  display: inline-block;
  margin: 1rem;
  border: none;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.3);
  padding: 1rem;
  border-radius: 10px;
  background-color: rgba(54, 15, 58, 0.734);
  text-decoration: none;
  color: #fff;
  transition: all 0.1s ease-in-out;
}

.project_description a:nth-child(2) {
  background-color: rgb(27, 97, 182);
}

.project_description a:hover {
  transform: translateY(-5px);
}

.btn_container {
  position: absolute;
  bottom: 15%;
  left: calc((100% - 200px) / 2);
  width: 200px;
  display: flex;
  justify-content: center;
}

.slider_btn {
  border: none;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.3);
  margin-top: 40px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background: linear-gradient(
    45deg,
    rgba(122, 3, 133, 0.734) 33%,
    rgb(27, 97, 182) 100%
  );
  color: white;
  font-size: 2rem;
  font-weight: 700;
  cursor: pointer;
}

.slider_btn:hover {
  background: linear-gradient(
    45deg,
    rgba(241, 93, 255, 0.734) 33%,
    rgb(10, 121, 255) 100%
  );
}

.slider_btn-left {
  margin-right: 20px;
}
.slider_btn-right {
  margin-left: 20px;
}
/************************About Section*******************************/

.modal-content-about {
  transform: scale(0);
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 10px;
  width: 80%;
}

.about-content {
  display: flex;
  align-content: space-between;
}

.about-text {
  display: block;
  margin-right: 1rem;
  margin-left: 1rem;
  width: 75%;
}

.about-text h1 {
  text-align: center;
  margin-bottom: 1rem;
}

.about-content img {
  width: 25%;
  height: 100%;
}

/*****************Resume************************/
.modal-content-resume {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 10px;
  width: 400px;
  height: 200px;
}

.resume-content {
  text-align: center;
}

.resume-content h1 {
  font-size: 1.4rem;
  font-weight: bold;
  margin-top: 1.8rem;
  margin-bottom: 3rem;
}

.resume-btn {
  padding: 1rem 3rem;
  opacity: 1;
  border-radius: 20px;
  color: #ffff;
  text-decoration: none;
  background: rgb(24, 0, 36);
  background: -moz-linear-gradient(
    45deg,
    rgba(24, 0, 36, 0.7343312324929971) 33%,
    rgba(0, 116, 255, 1) 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    rgba(24, 0, 36, 0.7343312324929971) 33%,
    rgba(0, 116, 255, 1) 100%
  );
  background: linear-gradient(
    45deg,
    rgba(24, 0, 36, 0.7343312324929971) 33%,
    rgba(0, 116, 255, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#180024",endColorstr="#0074ff",GradientType=1);
  transition: all 0.1s ease-in-out;
}

.resume-btn:hover {
  padding: 1rem 3.3rem;
  cursor: pointer;
  opacity: .9;

}
  
  


/***********************Contact***************************/

.modal-content-contact {
  background-color: #fefefe;
  margin: 8% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 10px;
  width: 800px;
}

.contact-content h1 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  text-align: center;
}
.contact-info {
  display: flex;
  width: 100%;
  margin-left: 50px;
}

form {
  width: 40%;
  display: flex;
  flex-direction: column;
}

form label {
  margin-bottom: 0.25rem;
}

form input {
  margin-bottom: 0.25rem;
}

form textarea {
  resize: none;
}

form button {
  border: none;
  margin: 1rem auto;
  font-size: 1rem;
  font-weight: 500;
  width: 150px;
  height: 50px;
  border-radius: 5px;
  padding: 0.4rem;
  color: #fff;

  background: rgb(24, 0, 36);
  background: -moz-linear-gradient(
    45deg,
    rgba(24, 0, 36, 0.7343312324929971) 33%,
    rgba(0, 116, 255, 1) 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    rgba(24, 0, 36, 0.7343312324929971) 33%,
    rgba(0, 116, 255, 1) 100%
  );
  background: linear-gradient(
    45deg,
    rgba(24, 0, 36, 0.7343312324929971) 33%,
    rgba(0, 116, 255, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#180024",endColorstr="#0074ff",GradientType=1);
  transition: transform 0.3s ease-in-out;
}

form button:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.border-right {
  border-right: 2px solid black;
  height: 16rem;
  margin-left: 2rem;
}

.contact-icons {
  display: flex;
  flex-direction: column;

  margin-top: 3rem;
  margin-left: 2rem;
}

.phone {
  display: flex;
  align-items: center;
}

.phone i {
  margin-right: 1.2rem;
}

.email {
  display: flex;
  align-items: center;
}

.email i {
  margin-right: 1rem;
}

.email a {
  color: #000;
}

.fas {
  color: rgba(0, 116, 255, 1);

  margin-bottom: 1.2rem;
}



